<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
	<Properties>
		<Property name="logFolder">./logs</Property> <!--filename will be referenced below-->
	</Properties>
	<Appenders>
		<RollingFile
			name="file"
			fileName="${logFolder}/debug-log.log"
			filePattern="${logFolder}/debug-log-%d{dd-MM-yyyy HH-mm-ss.SSS}.log">
			<PatternLayout>
				<!-- Logs datetime threadName lineNumber fileName INFO/WARN/DEBUG - message-->
				<Pattern>%d{dd-MM-yyyy HH:mm:ss.SSS} [%t] [%L] [%F] %-5level - %msg%n</Pattern>
			</PatternLayout>
			<SizeBasedTriggeringPolicy size="1 KB" />
		</RollingFile>

		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
		</Console>
		
	</Appenders>
	<Loggers>

		<!-- works on log4j.customLogger.* -->
		<!-- additivity=false removes root logger which can cause duplicate logging, by default its true -->
		<Logger name="logging.customLogger" level="trace" additivity="false">
			<AppenderRef ref="Console" />
		</Logger>
		
		<!-- File Based Logging -->
		<Logger name="logging.fileLogger" level="trace" additivity="false">
			<AppenderRef ref="file" />
		</Logger>

		<!-- works on log4j.Lec2_Log4jConfig -->
		<Root level="error">
			<AppenderRef ref="Console" />
		</Root>
	</Loggers>
</Configuration>